<style >
  body {
    background-image: url('<%= asset_path("main_picture.webp") %>');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    background-color: #0a0b0c;
  }

</style >

<div>
  <div>
    <h1>
      My Fitness Dashboard
    </h1>
  </div>
</div>


<div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <h4 class="text-uppercase m-0">My Current Goal:</h4>
                            </div>
  </div>
